<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorDbTest</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dbtest">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> DB Test
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PatientListTest">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Patient List Test
            </NavLink>
        </div>

        <div class="nav-item px-3">
          <NavLink class="nav-link" href="dbkrtexam">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> DB Krt Test
          </NavLink>
        </div>

        <div class="nav-item px-3">
          <NavLink class="nav-link" href="dbrefexam">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> DB Ref Test
          </NavLink>
        </div>

        <div class="nav-item px-3">
          <NavLink class="nav-link" href="dbpachyexam">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> DB Pachy Test
          </NavLink>
        </div>

        <div class="nav-item px-3">
          <NavLink class="nav-link" href="dbdiaexam">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> DB Dia Test
          </NavLink>
        </div>

        <div class="nav-item px-3">
          <NavLink class="nav-link" href="dbsightexam">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> DB Sight Test
          </NavLink>
        </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href="dbtreatment">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> DB Treatment Test
      </NavLink>
    </div>
    </nav>
</div>

