@page "/counter"
@inject HttpClient HttpClient
@inject IJSRuntime JS
@using System.Text.Json;
@using System.Runtime.CompilerServices;
@using BlazorDbTest.Common;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
  private int currentCount = 0;
  private LogInfo logInfo = new LogInfo();

  private void IncrementCount()
  {
    currentCount++;

    Task.Run(() => WriteLogAsync());
  }

  protected async Task WriteLogAsync() {
    logInfo.Message = "Clicked: " + currentCount;
    logInfo.Type = "EVENT";
    logInfo.ErrLevel = "I";

    string url = $"api/Log/WriteLog/";

    if(logInfo.ErrLevel == "W") {
      logInfo.Screenshot = await LogCommon.GetScreenshotUrl(JS);
    } else {
      logInfo.Screenshot = string.Empty;
    }    

    logInfo.SourcePosition = LogCommon.GetCallerFIlePath();

    var conditions = JsonSerializer.Serialize(logInfo);
    var content = new StringContent(conditions, System.Text.Encoding.UTF8, "application/json");

    try {
      var response = await HttpClient.PostAsync(url, content);
      response.EnsureSuccessStatusCode(); // ステータスコードが成功かどうかを確認
    } catch (HttpRequestException ex) {
      Console.Error.WriteLine($"Request error: {ex.Message}");
    } catch (InvalidOperationException ex) {
      Console.Error.WriteLine($"Invalid operation: {ex.Message}");
    }
  }

  public class LogInfo {
    public string Type { get; set; } = default!;            // [種別]
    public string Message { get; set; } = default!;         // [メッセージ]
    public string ErrLevel { get; set; } = default!;        // [エラーレベル]
    public string SourcePosition { get; set; } = default!;  // [ソース位置]
    public string SubMessage { get; set; } = default!;      // [備考]
    public string IPAddress { get; set; } = default!;       // [IPアドレス]
    public string Screenshot { get; set; } = default!;      // [スクリーンショット]
  }
}
